$font-1: "Source Sans Pro', sans-serif";

$blue: #007aff;
$lightBlue: #4285F4;
$darkBlue: #010059;
$white: #FFFFFF;
$eBlue: #007aff;
$nDark: #2B2E37;
$black: #1A1919;
$backgroundBlack: #1A1919;
$solidBlack: #090909;
$dark: #312F3B;
$red: #FF4553;
$lightGrey: #EDEFED;
$midGrey: #DDDDDD;
$darkGrey: #6e89a5;
$orange: #FF8A48;
$green: #27B450;
$citymapper: #37ab2f;
$pink: #FF8ABD;
$backgroundGrey: #efeff4;
$backgroundSearch: #F0F4F5;
$purple: #9013FE;
$line: #e6e8eb;

$sm: 768px;
$md: 992px;
$lg: 1200px;

$headerHeight: 5rem;

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  &--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

.inline {
  display: inline-block;
}

.padding-sm {
  padding: 2rem;
}
