$font-1: "Source Sans Pro', sans-serif";

$darkBlue: #010059;
$white: #FFFFFF;
$lightGrey: #EDEFED;
$midGrey: #DDDDDD;
$darkGrey: #6e89a5;
$dark: #312F3B;
$line: #e6e8eb;

$sm: 768px;
$md: 992px;
$lg: 1200px;

$headerHeight: 5rem;

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  &--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

.inline {
  display: inline-block;
}

.padding-sm {
  padding: 2rem;
}
